{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <!-- <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div> -->
        </div>
    </div>
</header>
<!-- Temporary landing page HTML -->
<div class="sg-container sg-centered">
    <div class="sg-type-zone">
      {{#if @site.logo}}
          <img class="site-logo sgmt-64 sgmb-32" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
      {{else}}
          <h1>{{@site.title}}</h1>
      {{/if}}
      <h1 class="schwifty-tf-bold measure-wide">How do people <span class="red-text">actually</span> launch their own apps?</h1>
      <h4 class="tf-subheading measure sgmb-32">When I started making websites almost 9 years ago I immediately wanted to do more. I dreamed of building a software product, the whole kit and kaboodle, from the ground up. But I didn’t know how.</h4>
      <p class="fs-normal measure">There was no course or class to teach this, so I had to learn, piece by piece, over years. I was eternally frustrated that i couldn’t do more. Finally after years of work I had all of the skills necessary, technically, and creatively to build my own products. And I set out to do that, but products also take marketing skills too. Anyways It was a lot.</p>
      <p class="fs-normal measure">So I decided to teach everything I know about the subject.</p>
      <p class="fs-normal measure">I’m sharing literally everything I know about designing, building, launching, and marketing your own digital products.</p>
      <p class="fs-normal measure">I’m building real products here. These are not cludgy sample apps, These are my apps. I designed them and built them. I love and hate them. I have aspirations for their success, and goals for the artistic and technical achievements I hope to accomplish.</p>
      <p class="fs-normal measure">If you’re interested in learning how to design products in Sketch, build websites with HTML, CSS, and Javascript, write apps in Swift, architect APIs using Ruby, Rails, and all sorts of SQL, and market your product through email and social media, then sign up for this email letter and I’ll teach you everything I know. For realsy.</p>
      <h2 class="measure">Subscribe. learn make products from scratch, like a boss.</h2>
      <div class="sg_form-container">
        <label class="sg-fl" for="email">Email</label>
        <input class="sgmb-32 sg-fl sg-cf" type="email" name="email" value="" placeholder="person@example.com">
        <button class="sg-fl sgml-32 button primary" type="submit" name="submitemail">Subscribe</button>
        <div class="sg-cf"></div>
      </div>
      <p class="fs-reallysmall measure">I’ll email you once a week (probably less), but only useful stuff about designing, developing, and launching your own products. I’ll never share your email with anyone else ever for any reason ever. Like ever. I really really hate email spam. If you have questions please email <a href="mailto:me@kow.fm">me@kow.fm</a>.</p>

    </div>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#each posts visibility="all"}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/each}}
        </div>

    </div>
</main>

{{> site-header}}


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        console.log("there must be a way to debug");

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}
